In [2]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [41]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.sample(5)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB
None

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [40]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

def count_genres(df):
    genres = Counter()
    for index, value in df['genres'].items():
        genre_list = str(value).split('|')
        for genre in genre_list:
            genres[genre] += 1
    return genres

def count_profit_movie(df):
    profit_genre = Counter()
    genres = count_genres(df)
    for index, row in df.iterrows():
        if row.profit > 0:
            genre_list = str(row.genres).split('|')
            for genre in genre_list:
                profit_genre[genre] += 1
    return profit_genre

def df_by_director_profit(df):
    temp_df = pd.DataFrame(df)
    temp_df.director = data['director'].str.split('|')
    temp_df = temp_df.explode('director')
    return temp_df

def count_most_common_pairs(df):
    actor_pairs = Counter()
    for index, actor in df['cast'].items():
        actor_list = str(actor).split('|')
        if len(actor_list) > 1:
            for i in range(len(actor_list)-1):
                actor_pairs[(actor_list[i], actor_list[i+1])] += 1
    return actor_pairs

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [55]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values('budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [56]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data.sort_values('runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [57]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data.sort_values('runtime', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [58]:
answers['4'] = '2. 110'

In [13]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [59]:
answers['5'] = '1. 107'

In [15]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [60]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [17]:
data.sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [61]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [19]:
data.sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [62]:
answers['8'] = '1. 1478'

In [21]:
data.query('profit > 0').count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [63]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [23]:
data[data.release_year == 2008].sort_values('revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [64]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [25]:
data.query('2012 <= release_year <= 2014').sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [65]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

In [27]:
count_genres(data).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [66]:
answers['12'] = '1. Drama'

In [29]:
count_profit_movie(data).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [67]:
answers['13'] = '5. Peter Jackson'

In [31]:
data['genres_spl'] = data['director'].str.split('|')
data = data.explode('genres_spl')
data.pivot_table(index=['genres_spl'], values=['profit'], aggfunc='sum').sort_values('profit', ascending=False).head(1)

                   profit
genres_spl
Peter Jackson  5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [68]:
answers['14'] = '3. Robert Rodriguez'

In [33]:
data['director_spl'] = data['director'].str.split('|')
data['genres_spl'] = data['genres'].str.split('|')
data = data.explode('director_spl')
data = data.explode('genres_spl')
data[data['genres_spl'] == 'Action'].pivot_table(index=['director_spl'], values=['genres_spl'], aggfunc='count').sort_values('genres_spl', ascending=False).head(1)

                  genres_spl
director_spl
Robert Rodriguez          17

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [69]:
answers['15'] = '3. Chris Hemsworth'

In [22]:
data['cast_spl'] = data['cast'].str.split('|')
data = data.explode('cast_spl')
data[data['release_year'] == 2012].pivot_table(index=['cast_spl'], values=['revenue'], aggfunc='sum').sort_values('revenue', ascending=False).head(5)

                      revenue
cast_spl
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [70]:
answers['16'] = '3. Matt Damon'

In [24]:
data['cast_spl'] = data['cast'].str.split('|')
data = data.explode('cast_spl')
budget_mean = data['budget'].mean()
data[data['budget'] > budget_mean].pivot_table(index=['cast_spl'], values=['original_title'], aggfunc='count').sort_values('original_title').tail(1)

            original_title
cast_spl
Matt Damon              90

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [71]:
answers['17'] = '2. Action'

In [26]:
data['cast_spl'] = data['cast'].str.split('|')
data['genres_spl'] = data['genres'].str.split('|')
data = data.explode('cast_spl')
data = data.explode('genres_spl')
data[data['cast_spl'] == 'Nicolas Cage'].pivot_table(index=['genres_spl'], values=['original_title'], aggfunc='count').sort_values('original_title').tail(1)

            original_title
genres_spl
Action                 425

# 18. Самый убыточный фильм от Paramount Pictures

In [72]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [41]:
data['production_companies_spl'] = data['production_companies'].str.split('|')
data = data.explode('production_companies_spl')
data[data['production_companies_spl'] == 'Paramount Pictures'].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_spl,director_spl,cast_spl,production_companies_spl
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,Thriller,Kathryn Bigelow,Harrison Ford,Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [73]:
answers['19'] = '5. 2015'

In [29]:
data.groupby(['release_year']).sum().sort_values('revenue')['revenue'].tail(1)

release_year
2015    9872167438750
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [74]:
answers['20'] = '1. 2014'

In [34]:
data['production_companies_spl'] = data['production_companies'].str.split('|')
data = data.explode('production_companies_spl')
data.query('production_companies_spl.str.contains("Warner Bros")').groupby(['release_year']).sum().sort_values('profit')['profit'].tail(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [75]:
answers['21'] = '4. Сентябрь'

In [36]:
data['release_month'] = data['release_date'].apply(lambda s: s.split('/')[0])
data.groupby(['release_month']).count().sort_values('original_title').tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,production_companies_spl
release_month,,,,,,,,,,,,,,,,
9,729,729,729,729,729,729,729,729,729,729,729,729,729,729,729,729

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [76]:
answers['22'] = '2. 450'

In [42]:
data['release_month'] = data['release_date'].apply(lambda s: s.split('/')[0])
data.query('release_month in ["6", "7", "8"]').pivot_table(index=['release_month'], values=['original_title'], aggfunc='count').sum()

original_title    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [77]:
answers['23'] = '5. Peter Jackson'

In [44]:
data['director_spl'] = data['director'].str.split('|')
data['release_month'] = data['release_date'].apply(lambda s: s.split('/')[0])
data = data.explode('director_spl')
data.query('release_month in ["12", "1", "2"]').groupby(['director_spl']).count().sort_values('original_title').tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
director_spl,,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [78]:
answers['24'] = '5. Four By Two Productions'

In [46]:
data['title_len'] = data['original_title'].apply(lambda t: len(t))
data['production_companies_spl'] = data['production_companies'].str.split('|')
data = data.explode('production_companies_spl')
data.groupby('production_companies_spl').mean().sort_values('title_len', ascending=False).head(1)

,budget,revenue,runtime,vote_average,release_year,profit,title_len
production_companies_spl,,,,,,,
Four By Two Productions,18000000.0,261572744.0,82.0,6.4,2006.0,243572744.0,83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [80]:
answers['25'] = '3. Midnight Picture Show'

In [48]:
data['overview_len'] = data['overview'].apply(lambda o: len(o.split(' ')))
data['production_companies_spl'] = data['production_companies'].str.split('|')
data = data.explode('production_companies_spl')
data.groupby('production_companies_spl').mean().sort_values('overview_len', ascending=False).head(1)

,budget,revenue,runtime,vote_average,release_year,profit,title_len,overview_len
production_companies_spl,,,,,,,,
Midnight Picture Show,15000000.0,3533227.0,98.0,5.7,2008.0,-11466773.0,23.0,175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [81]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [50]:
temp_data = pd.read_csv('movie_bd_v5.csv')
one_percent = math.ceil(len(temp_data.index)/100)
temp_data.sort_values('vote_average', ascending=False)[['original_title', 'vote_average']].head(one_percent)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [82]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint верно'

In [52]:
temp_data = pd.read_csv('movie_bd_v5.csv')
count_most_common_pairs(temp_data).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 7)]

In [ ]:
ВАРИАНТ 2

# Submission

In [83]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint верно',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450'}

In [84]:
# и убедиться что ни чего не пропустил)
len(answers)

27